<form id="build_<%= id %>" class="build" method="post" action="<%= uri("../build") %>">
  <input type="hidden" name="_method" value="build" />
  <input type="hidden" name="id" value="<%= id %>" />
  <input type="hidden" name="reset" value="on" />
  <input type="submit" value="Build" />
</form>
