    <ul class="configurations">
<% configurations.each_pair do |key, config| %>
<%   if config.is_nest? %>
    <li class="nested-configuration">
    <span class="name"><%= key %></span>:
    <span class="desc"><%= config[:desc].to_s %></span>
    <ul class="nested_config">
<%=  render("configurations.erb", :locals => {
       :configurations => config.default(false).delegates, 
       :values => values[key], 
       :nest => "#{nest}#{nest.empty? ? '' : ':'}#{key}", 
       :index => index}) %>
    </li>
<%   else %>
    <li class="configuration">

<%   template_file = server.search(:views, "#{self.class.name}/configurations/#{config[:type]}.erb") %>
<%=  render("configurations/default.erb", :template_file => template_file, :locals => {
       :key => key, 
       :config => config, 
       :switch => "--#{nest}#{nest.empty? ? '' : ':'}#{key.to_s.gsub('_', '-')}", 
       :value => values[key], 
       :index => index}) %> 
    </li>
<%   end %>
<% end %>
    </ul>