<h2>Schema</h2>
<ul>
<% schema.each do |id| %>
<li>
  <%= id %>
  <a href="<%= uri("#{id}")%>">design</a>
  <%=  render('_crud.erb', :locals => {:id => id}) %>
</li>
<% end %>
<li><a href="<%= uri("#{schema.length}")%>">new</a></li>
</ul>