<html>
<head>

</head>
<body>
<form enctype="multipart/form-data" method="post" action="run">
  <input name="0[]">a</input>
  <input name="0[]">b</input>
  <input name="0[]">c</input>
  <input name="1[]">x</input>
  <input name="1[]">y</input>
  <input name="1[]">z</input>
  <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>