<html>
<head>

</head>
<body>
<form enctype="multipart/form-data" method="post" action="run">
  <!-- each task/join gets an index -->
  <input name="0[0]" value="a" />
  <input name="0[1]" type="hidden" value="--b" />

  <input name="200"  value="--0:1" />
  
  <textarea name="0[5][]" >blah blah blah</textarea>
  <input name="0[5]" value="c" />


  <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>