<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/run.css" /> -->
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/run.js"></script>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="run">
  <ol id="schema">
<% index = 0 %>
<% tascs.each do |tasc| %>
<%= render('run/task.erb', :tasc => tasc, :index => index ) %> 
<% index += 1 %>
<% end %>
  </ol>
  <ul class="controls">
    <li><%= render('run/manifest.erb') %></li>
    <li><a href="javascript:Tap.Run.add('schema');">add</a></li>
    <li><a href="javascript:Tap.Run.remove('schema');">remove</a></li>
    <li><a href="javascript:Tap.Run.update('schema');">update</a></li>
  </ul>
  <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>