<html>
<head>
<title>Tap (Server)</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/tap.css" />
<!-- <script src="/javascripts/tap.js"></script> -->
</head>
<body>
<%= content %>

<ul>
  <li><a href="/">Home</a></li>
</ul>
</body>
</html>