<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/run.css" /> -->
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/run.js"></script>
</head>
<body>
<form id="load-form" enctype="multipart/form-data" method="post" action="schema/load">
  <input name="yaml" type="file"></input>
  <input id="submit-form" type="submit" value="Load" />
</form>
<form id="run-form" enctype="multipart/form-data" method="post" action="schema/run">
  <ol id="schema">
<% index = 0 %>
<% schema.nodes.each do |node| %>
<%= env.render(:views, 'run/node.erb', :node => node, :index => index ) %> 
<% index += 1 %>
<% end %>
<% schema.rounds(true).each do |round| %>
<%= env.render(:views, 'run/round.erb', :round => round) %> 
<% end %>
<% schema.send(:each_join_str) do |join| %>
<%= env.render(:views, 'run/join.erb', :join => join) %> 
<% end %>
  </ol>
  <ul class="controls">
    <li><%= env.render(:views, 'run/manifest.erb') %></li>
    <li><a href="javascript:Tap.Run.update('schema', 'schema/add');">add</a></li>
    <li><a href="javascript:Tap.Run.update('schema', 'schema/remove');">remove</a></li>
  </ul>
  <input id='preview' name="preview" type="checkbox">preview</input>
  <input id="submit-form" type="submit" value="Submit" />
</form>
</body>
</html>