    <!-- note switches should be more like a radio button, hide
      the other when selected, so that both are allowed... or 
      just present the opposite of the default... Currently they DO NOT WORK-->
    <input name="argv[]" type="checkbox" value="<%= switch %>" <%= value ? 'checked="true"' : '' %> />
    <span><%= key %></span>:
    <span><%= config[:desc].to_s %></span>