<form action="<%= uri :enque %>" method="post">
<textarea rows="10" cols="40" name="queue">
- - load
  - - goodnight moon
- - load
  - - hello world
</textarea><br/>
<input type="hidden" name="load" value="on" />
<input type="submit" value="enque" />
</form>