[submodule "configurable"]
	path = configurable
	url = git://github.com/bahuvrihi/configurable.git
[submodule "lazydoc"]
	path = lazydoc
	url = git://github.com/bahuvrihi/lazydoc.git
[submodule "rack"]
	path = rack
	url = git://github.com/rack/rack.git
