<form class="new_entry" method="post" action="<%= uri %>">
  <input type="hidden" name="type" value="<%= type %>" />
  <dl>
  <dt>Id</dt>
  <dd><input type="input" name="id" value="" /></dd>
  <dt>Content</dt>
  <dd><textarea name="<%= type %>"></textarea></dd>
  <dl>
  <input type="submit" value="Upload" />
</form>