<form id="upload" class="upload" enctype="multipart/form-data" method="post" action="<%= uri %>">
  <input type="hidden" name="type" value="<%= type %>" />
  <input type="file" name="<%= type %>" />
  <input type="submit" value="Upload" />
</form>