    <ul>
    <li class="input">
<% config = task['config'] %>
<% if config && config['file'] == 'true' %>
    <input name="<%= name %>[]" value="<%= args[0] %>" />
<% else %>
    <textarea name="<%= name %>[]"><%= args[0] %></textarea>
<% end %>
    <span>Data</span>
    </li>
    </ul>