/* 
  Tap Styles
*/

/* schema */
form.rename {
  display: inline;
}

form.duplicate {
  display: inline;
}

form.delete {
  display: inline;
}

li.task {
  border-top: thin solid black;
  padding: 0.5em;
}

li.join {
  border-top: thin solid black;
  padding: 0.5em;
}