<form action="schema" method="post">
<textarea rows="10" cols="40" name="schema">
tasks:
  load:
    class: Tap::Load
    require_path: tap/load
  dump:
    class: Tap::Dump
    require_path: tap/dump
joins:
- class: Tap::Join
  require_path: tap/join
  inputs: [load]
  outputs: [dump]
</textarea><br/>
<input type="checkbox" name="parse">parse</input>
<input type="checkbox" name="run">run</input>
<input type="submit" value="build" />
</form>