<html>
<head>
<title>Tap (Task Application)</title>
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/run.css" /> -->
<script src="/javascripts/prototype.js"></script>
<script src="/javascripts/tap.js"></script>
</head>
<body>
<%= content %>
</body>
</html>