<form action="<%= uri :build %>" method="post">
<textarea rows="10" cols="40" name="schema">
tasks:
  load:
    id: load
  dump:
    id: dump
joins:
- id: join
  inputs: [load]
  outputs: [dump]
</textarea><br/>
<input type="checkbox" name="parse">parse</input>
<input type="checkbox" name="run">run</input>
<input type="submit" value="build" />
</form>
<ul>
  <li><a href="<%= uri :info %>">Info</a></li>
</ul>
