<div>
<% actions.each do |action| %>
<%= render "_action.erb", :locals => {:action => action } %>
<% end %>
<%= app.info %>
</div>
<ul>
<li><a href="<%= uri :schema %>">Design</a></li>
<li><a href="<%= uri :enque %>">Enque</a></li>
</ul>