<select name="<%= name %>">
<% (config[:options] || []).each do |option| %>
  <option value="<%= format_yaml(option) %>" <%= value == option ? "selected='true' " : ""%>><%= option %></option>
<% end %>
</select>