<select name="<%= name %>">
<% (config[:options] || []).each do |option| %>
<%   option = stringify(option) %>
  <option value="<%= escape_html(option) %>" <%= value == option ? "selected='true' " : ""%>><%= option %></option>
<% end %>
</select>