<select id="tasc" class="manifest">
  <option value="">(none)</option>
<% env.minimap.each do |(env_name, env)| %>
<%   env.tasks.build.minimap.each do |(name, const)| %>
  <option value="<%= env_name %>:<%= name %>"><%= env_name %>:<%= name %></option>
<%   end %>
<% end %>
</select>