<script type="text/javascript"><%= update ? "Tap.Run.info('update', 'info', 1000);" : "" %></script>
  
<div id="info">
<%= info %>
</div>
<ul class="controls">
  <li><input id="update" type="checkbox" <%= update ? "checked='true' " : "" %>onchange="Tap.Run.info('update', 'info', 1000);">update</a></li>
</ul>
