<% update_info = "Tap.Run.info('update', 'info', 1000);" %>
<div class="info">
  <input class="update" id="update" type="checkbox" <%= update ? "checked='true' " : "" %>onchange="<%= update_info %>" />
  <span class="info" id="info"><%= info %></span>
</div>
<script type="text/javascript"><%= update ? update_info : "" %></script>
