<form action="<%= uri :build %>" method="post">
<textarea rows="10" cols="40" name="schema">
tasks:
  load:
    class: Tap::Tasks::Load
    require_path: tap/tasks/load
  dump:
    class: Tap::Tasks::Dump
    require_path: tap/tasks/dump
joins:
- class: Tap::Join
  require_path: tap/join
  inputs: [load]
  outputs: [dump]
</textarea><br/>
<input type="checkbox" name="parse">parse</input>
<input type="checkbox" name="run">run</input>
<input type="submit" value="build" />
</form>
<ul>
  <li><a href="<%= uri :info %>">Info</a></li>
</ul>
