<h2><%= obj.class %></h2>

<h3>Configurations</h3>
<div>
<%= module_render("configurations.erb", obj, :locals => {
  :name_base => "config",
  :configurations => obj.class.configurations,
  :values => obj.config.to_hash
}) %>
</div>

<h3>Signals</h3>
<ul>
<% obj.class.signals.each_pair do |sig, signal| %>
<%   next if sig.empty? %>
  <li><a href="<%= uri(var, sig)%>"><%= sig %></a></li>
<% end %>
</ul>
