---
layout: default
---

<div id="branding-index" class="branding">
  <img id="image" src="images/branding.jpg" alt="Tap" />
  <p>
  <span id="title"><a href="/index.html">Tap</a></span>
  <span id="summary">A configurable, distributable workflow framework.</span>
  </p>
</div>

<div class="nav-main">
  <ul>
  <li><a href="{{ site.links.install }}">Install</a></li>
  <li><a href="{{ site.links.rdoc }}">Documentation</a></li>
  <li><a href="{{ site.links.tutorial }}">Tutorial</a></li>
  </ul>
</div>

<div id="content" class="content">
{{ content }}
</div>