---
layout: default
---

<div id="branding_sub" class="center_div">
<div id="branding_sub_text" class="pc main_div">
  <span id="branding_sub_tap"><a href="index.html" title="Tap">Tap</a></span>
</div>
<div class="sc sub_div">
  <a href="index.html" title="Tap">
    <img id="branding_sub_img" src="images/branding_square.jpg" alt="Tap" />
  </a>
</div>
</div>

<div id="content" class="clear_children center_div">
<div id="content_main" class="pc cc_tallest main_div">
{{ content }}
</div>

<div id="content_sub" class="sc sub_div">
<div class="nav_div">
  <h3>Tap</h3>
  <ul class="nav_sub">
  <li id="install"><a href="installation.html" title="Install">Install</a></li>
  <li id="documentation"><a href="rdoc/index.html" title="Documentation">Documentation</a></li>
  <li id="tutorial"><a href="rdoc/files/doc/Tutorial.html" title="Tutorial">Tutorial</a></li>
  </ul>
</div>

<div class="nav_div">
  <h3>Gems</h3>
  <ul class="nav_sub">
  <li><a href="http://rubyforge.org/projects/tap" title="A framework for creating configurable, distributable tasks and workflows.">Tap</a></li>
  <li><a href="http://bioactive.rubyforge.org/constants" title="Libraries of physical and chemical constants for scientific calculations in Ruby.">Constants</a></li>
  <li><a href="http://bioactive.rubyforge.org/molecules/" title="A library of molecules for scientific calculations in Ruby.">Molecules</a></li>
  <li><a href="http://rubyforge.org/projects/external" title="Indexing and array-like access to data stored on disk rather than in memory.">External</a></li>
  <li><a href="http://tap.rubyforge.org/configurable" title="Class configurations that map to the command line.">Configurable</a></li>
  <li><a href="http://tap.rubyforge.org/lazydoc" title="Lazy loading of comments into code.">Lazydoc</a></li>
  <li><a href="http://rubyforge.org/projects/joinfix" title="">JoinFix</a></li>
  </ul>
</div>

<div class="nav_div">
  <h3>Info</h3>
  <ul class="nav_sub">
  <li><a href="about.html" title="">About</a></li>
  <li><a href="license.html" title="">License</a></li>
  <li><a href="http://github.com/bahuvrihi/tap/wikis/home" title="">Wiki</a></li>
  </ul>
</div>
</div>

<script type="text/javascript" src="si-clear-children.js"></script>