<% raise "list select configuration is currently not supported" %>
    <select name="<%= name %>[]" multiple="true">
<% config[:values].each do |v| %>
      <option value="<%= v %>" <%= value.include?(v) ? "selected='true' " : ""%>><%= v %></option>
<% end %>
    </select>